<app-toolbar
  [progressBarPercentage]="progressBarPercentage"
  [showIndeterminateProgressBar]="showIndeterminateProgressBar"
></app-toolbar>
@if (isBrowserOnly) {
  <app-map
    [addressCenter]="addressCenter"
    [progressBarPercentage]="progressBarPercentage"
    [showIndeterminateProgressBar]="showIndeterminateProgressBar"
    [rubricasFormValues]="rubricasFormValues"
  ></app-map>
}

<app-card
  (submitEvent)="onSubmitEvent($event)"
  (rubricasFormEvent)="onRubricasFormChange($event)"
  [rubricas]="rubricas"
></app-card>
