<header>
  <app-toolbar
    [progressBarPercentage]="progressBarPercentage"
    [showIndeterminateProgressBar]="showIndeterminateProgressBar"
  ></app-toolbar>
</header>

@if (isBrowserOnly) {
  <app-map
    [addressCenter]="addressCenter"
    [progressBarPercentage]="progressBarPercentage"
    [showIndeterminateProgressBar]="showIndeterminateProgressBar"
    [rubricasFormValues]="rubricasFormValues"
  ></app-map>
}

<section class="card-section">
  <app-card
    (submitEvent)="onSubmitEvent($event)"
    (rubricasFormEvent)="onRubricasFormChange($event)"
    [rubricas]="rubricas"
  ></app-card>
</section>
