<mat-toolbar>
  <span>Mapa de criminalidade de São Paulo</span>
  <span class="toolbar-spacer"></span>
  <button
    mat-icon-button
    (click)="displayInfoModal()"
    aria-label="Informações do projeto"
  >
    <mat-icon svgIcon="info"></mat-icon>
  </button>
  <br />
</mat-toolbar>
@if (showIndeterminateProgressBar()) {
  <mat-progress-bar mode="buffer"></mat-progress-bar>
}

@if (progressBarPercentage() !== -1) {
  <mat-progress-bar
    mode="determinate"
    [value]="progressBarPercentage()"
  ></mat-progress-bar>
}
